.navbar-fixed-top {
    height: auto;
    width: auto;
    margin-bottom: 0;
    background-color: black;
    z-index: 9999;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0px;
    border-radius: 0px;
}
.navbar-header img{
    height: 10%;
    width: 10%;
}
.navbar-header .navbar-title{
    margin-left: auto;
    margin-right: auto;
    color: yellow;
    font-size: 30px;
}

.navbar-brand{
    font: larger;
    color: yellow;
}

.navbar-buttons{
    height: auto;
    width: auto;
    margin-top: 100px;
    background-color: yellow;
    color: black;
    font-size: 25px;
    text-align: right;
    border-radius: 8px;
}
.navbar-buttons .a{
    
    color: yellow;
}
.container{
    margin: 0%;
    padding: 0%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}